default_agent: __AGENT_NAME__
agents:
  __AGENT_NAME__:
    name: __AGENT_NAME__
    entrypoint: __ENTRYPOINT__
    deployment_type: container
    runtime_type: null
    platform: __PLATFORM__
    container_runtime: docker
    source_path: .
    aws:
      execution_role: __EXECUTION_ROLE_ARN__
      execution_role_auto_create: false
      account: "__AWS_ACCOUNT_ID__"
      region: __AWS_REGION__
      ecr_auto_create: true
      s3_auto_create: false
      network_configuration:
        network_mode: PUBLIC
        network_mode_config: null
      protocol_configuration:
        server_protocol: HTTP
      observability:
        enabled: true
      lifecycle_configuration:
        idle_runtime_session_timeout: null
        max_lifetime: null
    bedrock_agentcore:
      agent_id: null
      agent_arn: null
      agent_session_id: null
    codebuild:
      project_name: null
      execution_role: null
      source_bucket: __CODEBUILD_SOURCE_BUCKET__
    memory:
      mode: __AGENTCORE_MEMORY_MODE__
      memory_id: null
      memory_arn: null
      memory_name: null
      event_expiry_days: 30
      first_invoke_memory_check_done: false
      was_created_by_toolkit: false
    identity:
      credential_providers: []
      workload: null
    aws_jwt:
      enabled: false
      audiences: []
      signing_algorithm: ES384
      issuer_url: null
      duration_seconds: 300
    authorizer_configuration: null
    request_header_configuration: null
    oauth_configuration: null
    api_key_env_var_name: null
    api_key_credential_provider_name: null
    is_generated_by_agentcore_create: false
